.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #1A7C94 !important;
}

.navbar-white {
    background-color: #1A7C94 !important;
    color: #fff !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #4d4dff !important;
}

.btn-warning {
    background: #1A7C94 !important;
    border-color: #1A7C94 !important;
    color: #fff !important;
}

.bg-warning {
    background: #1A7C94 !important;
    color: #fff !important
}

.sidebar-dark-blue {
    background: #455279 !important;
}

.color-header {
    background: #1A7C94 !important;
    color: #fff !important
}

.color-header-tutor {
    background: #1A7C94 !important;
    color: #fff !important
}

.color-commercial {
    background: #fff600 !important;
    opacity: 0.5;
}

.color-instructor {
    background: #ff993e !important;
    opacity: 0.5;
}

.color-client {
    background: #115061 !important;
    color: #fff !important
}

td {
    font-family: Arial, Verdana !important;
    font-size: 12px !important;
}

th {
    font-family: Arial, Verdana !important;
    font-size: 12px !important;
}

.select2-container .select2-selection--single {
    box-sizing: border-box !important;
    cursor: pointer !important;
    display: block !important;
    height: 31px !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
}