.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #1A7C94 !important;
}

.navbar-white {
    background-color: #1A7C94 !important;
    color: #fff !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #4d4dff !important;
}

.btn-warning {
    background: #1A7C94 !important;
    border-color: #1A7C94 !important;
    color: #fff !important;
}

.bg-warning {
    background: #1A7C94 !important;
    color: #fff !important
}

.sidebar-dark-blue {
    background: #455279 !important;
}

.color-header {
    background: #1A7C94 !important;
    color: #fff !important
}